{% extends 'base.html' %}     
{% block content %}
{% load static %}
<div>
<div>
    <div>
        <p>India, Canada...<br><br>
            ThoughtWin is a renowned name in the website/mobile designing,
            development in Software industry but – WHY? It’s because we make web design
            and development that represents your business and spreads worldwide.
            The support, trust and over and over recommendations by the client
            is enough to describe the quality of work we offer.
            <br><br>
            arrow indication
            We define goals, analysis the requirements and make the project schedule.
            <br><br>
            arrow indication
            Depending on your objectives and goals, a sensible approach is taken whereby
            solutions are developed to fit the needs of your organization.
            <br><br>
            arrow indication
            The company believes in offering high aim web solutions at affordable prices.
            <br><br>
            arrow indication
            The Achievement of Perfection is our goal, but Excellence is Guarantee.
            <br><br>
            arrow indication
            We don't just sell websites, we create websites that SELL.
            <br><br>
            arrow indication
            We love what we do and we do what our clients love & work with great clients all over the world to meet their purposes.
            <br><br>
            We have successfully delivered a variety of websites like E-commerce websites(B2B+B2C), business directories, CMS websites, data-driven websites, blog websites, community website, Mobile applications etc. We currently have an in-house team of full-time resources with senior programmers, intermediate programmer, graphic designer, front end developer, a project manager and a business analyst. We are a team of incredibly talented senior-junior level engineers. What this means is that we will have continuous access to a wealth of resource and information. We support companies across the globe.</p>
    </div>
</div>
</div>
    <!--services start--> 
    <div class="section_service_main">
        <div class="section_service_2">
            <h1 class="service_text">Our Service</h1>
        </div>
        <div class="service_main">
            <div class="container">
                <div class="row">
                    
                    <div class="col-md-6">
                        <div class="written_text">
                            
                                <h1 class="written_text">Web development</h1>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, </p>
                            </div>
                        </div>
                    <div class="col-md-6">
                        <div class="written_text">
                            
                                <h1 class="written_text">Fast Turnaround</h1>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="service_main">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="written_text">
                                        
                                        <h1 class="written_text">Up to Date</h1>
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, </p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="written_text">
                                      
                                        <h1 class="written_text">Premium Content</h1>
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>	  
        </div>
    </div>	
{% endblock %}
   